#footer{
    padding: 5rem 0;
    margin-top: 100px ;
    background-color: #000;
    color: #fff;
    border: 1px solid #F2FDF1;
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-container h2{
    text-align: center;
    margin-bottom: 50px;
}

.social-footer{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.social-footer a {
    text-decoration: none;
    color: #F2FDF1;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}
.social-footer a:hover{
background-color: #F2FDF1;
color: #000;
border-radius: 5px;
padding: 5px;
}

.social-footer p{
    color: #F2FDF1;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.copy-footer{
    display: flex;
    justify-content: center;
}


/*whatsbuttum*/

.btn-whatsapp a {
	color:#25D366; 
	text-decoration:none; 
	display:block; 
}
.btn-whatsapp {
    
    position:fixed; 
    right:25px; 
    bottom:30px; 
    transform: translate(-50%, -50%);  
    background-color:#25D366; 
    width:60px; height:60px; 
    text-align:center; 
    line-height:58px; 
    font-size:1.8em; 
    color:#ffffff; 
    font-weight:100; 
    border-radius:50%; 
}
.btn-whatsapp:before,
.btn-whatsapp:after
{
	content: '';
    display:block;
    position: absolute;
    border-radius:50%;
    border:1px solid #25D366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity:0;
    backface-visibility:hidden;    
}
.pulsaDelay:after { animation-delay: .5s; }
@keyframes animate {
   0%   { transform: scale(0.5); opacity:0; }
   50%  { opacity:1; }
   100% { transform: scale(1.2); opacity:0; }
}