.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #32CD32;
    color: #21618C;
    max-height: 35vw;
}

.title-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.title-nav ul li {
    display: inline-block;
    margin: 15px;
    font-size: 16px;
}

.title-nav ul li a {
    text-decoration: none;
    color: #21618C;
    font-weight: bold;
}

.title-nav ul li a:hover {
    color: #F2F4F4;
}

@media only screen and (min-width: 1025px) and (max-width: 2560px) {
    .menu-burgers {
        display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .nav-container {
        min-height: 50px;
    }

    .title-nav {
        display: none;
    }

    label .menu {
        position: absolute;
        margin-top: 5px;
        background: #FFF;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer
    }

    label .hamburger {
        position: absolute;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #17202A;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #17202A;
        cursor: default;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;

    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;

    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;

    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label ul {
        z-index: 200;
        position: absolute;
        top: 15%;
        left: 20%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }

    label a {
        margin-bottom: 1em;
        display: block;
        color: #21618C;
        font-weight: bold;
        text-decoration: none;

    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .nav-container {
        min-height: 50px;
    }

    .title-nav {
        display: none;
    }

    label .menu {
        position: absolute;
        margin-top: 5px;
        background: #FFF;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
        cursor: pointer
    }

    label .hamburger {
        position: absolute;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #17202A;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #17202A;
        cursor: default;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
        border-radius: 0;

    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;

    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;

    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }

    label a {
        margin-bottom: 1em;
        display: block;
        color: #21618C;
        font-weight: bold;
        text-decoration: none;

    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }
}
