<header class="nav-container">
    <div class="title-nav">
        <ul>
            <li><a routerLink="">HOME</a></li>
            <li><a routerLink="technology">TECHNOLOGY</a></li>
            <li><a routerLink="works">WORKS</a></li>
            <!-- <li><a routerLink="Studies">STUDIES</a></li> -->
            <li><a routerLink="contacts">CONTACTS</a></li>
            <!-- <li><a routerLink="Social">SOCIAL NETWORKS</a></li> -->
        </ul>
    </div>
    <div class="menu-burgers">
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="technology">Technology</a></li>
                <li><a routerLink="works">Works</a></li>
                <!-- <li><a routerLink="Studies">Studies</a></li> -->
                <li><a routerLink="contacts">Contacts</a></li>
                <!-- <li><a routerLink="Social">Social networks</a></li> -->
            </ul>
        </label>
    </div>
</header>