<section id="technology">
    <h1> Technology</h1>
    <div class="Develops">
        <div class="front-end">
            <div>
                <h3>Front-end Developer</h3>
                <p>1 year of study within frontend development</p>
            </div>
            <div>
                <h5>Languages I speak:</h5>
                <p>HTML, CSS, JavaScript, Typiscript</p>
            </div>
            <div>
                <h5>Programation tools</h5>
                <p>AngularJS</p>
                <p>ReactJS</p>
                <p>VScode</p>
                <p>Git</p>
                <p>Github</p>
            </div>
        </div>
        <div class="back-end">
            <div>
             
                <h3>Back-end Developer</h3>
                <p>1 year of study within backend development</p>
            </div>
            <div>
                <h5>Languages I speak:</h5>
                <p>Java, JavaScript</p>
            </div>
            <div>
                <h5>Programation tools</h5>
                <p>Intellij</p>
                <p>Spring</p>
                <p>NodeJS</p>
            </div>
        </div>
        <div class="suports">
            <div>
                <h3>Soft Skill</h3>
                <p>I have been working for 14 years with sales and people development</p>
            </div>
            <div>
                <h5>Experience</h5>
                <p>Analytical ability</p>
                <p>Adaptability</p>
                <p>Management experience</p>
                <p>Leadership profile</p>
                <p>Ease of learning</p>
            </div>
        </div>
    </div>
</section>
