#technology{
    display:flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 5rem;
    height: 80vh;
    margin-bottom: 100px;
    background-color: #32CD32;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#technology h1{
    text-align: center;
    margin-bottom: 5rem;
    color: #21618C;

}

.Develops{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.front-end, .back-end, .suports{
    height: 500px;
    width: 31%;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #21618C;
    color: #fff;
    border-radius: 10px;
}
.front-end h3, .back-end h3, .suports h3{
    border-bottom: 1px solid #3498DB;
}

.front-end h5, .back-end h5, .suports h5{
    color: #3498DB;
    font-weight: bold;
}


@media only screen and (min-width: 320px ) and (max-width: 767px) {
    .front-end, .back-end, .suports{
        height: 500px;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    .Develops{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    
    }


}