#technology{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    margin-bottom: 200px;
    background-color: #32CD32;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#technology h1{
    text-align: center;
    margin-bottom: 5rem;
    color: #21618C;

}

.Develops{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.front-end, .back-end, .suports{
    min-height: 500px;
    width: 31%;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #21618C;
    color: #fff;
    border-radius: 10px;
}
.front-end:hover, .back-end:hover, .suports:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.front-end h3, .back-end h3, .suports h3{
    border-bottom: 1px solid #3498DB;
}

.front-end h5, .back-end h5, .suports h5{
    color: #3498DB;
    font-weight: bold;
}

@media only screen and (min-width: 768px ) and (max-width: 1023px) {

    #technology{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;

    }

    .Develops{
        margin-top: 200px;
        height: 500px;
    }

    .front-end, .back-end, .suports{
        height: 500px;
        width: 31%;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}


@media only screen and (min-width: 320px ) and (max-width: 767px) {

    #technology{

        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding: 2rem;
        height: 1000px;
        margin-bottom: 700px

    }
    .front-end, .back-end, .suports{
    
        height: 500px;
        width: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
    }

    .Develops{
        margin-top: 800px;
        height: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;    
    }

}