<main id="about">
    <div class="about-conteiner">
        <div>
            <img [src]="marckAvatar" alt="">
        </div>
        <h4>Hi, are you ok?</h4>
        <p>
            My name is Marcos Carvalho, i'm in a great moment of my life, I worked for many years with sales management
            and supervision, and at this moment I'm carrying out the career transition process.
        </p>
        <p>In view of all the experience and understanding of the commercial environment, I now venture through all the
            technology that surrounds this world, to finally reach my goals!
        </p>
    </div>
</main>