#works-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #32CD32;
    height: 100vh;
    margin-bottom: 100px;
    padding: 15px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.works-recently{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}
.works-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:100px;
    color: #21618C;
    font-weight: bold;
}
.works-card:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.works-card p{
    color: #4169e1;
    font-weight: bold;    
    margin-bottom: 5px;
}

.works-card img{
    height: 200px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px ) and (max-width: 1440px) {

    .works-recently{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
    }
    .works-card img{
        height: 150px;
        width: 250px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 427px ) and (max-width: 768px) {

    #works-container{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .works-recently{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .works-card img{
        height: 150px;
        width: 200px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 426px){

    
    #works-container{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .works-recently{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }

    .works-card img{
        height: 50px;
        width: 70px;
        border-radius: 15px;
    }
    .works-card p{ 
        font-size: 8px;
    }
    .works-card h4{
        font-size: 12px;
    }
    .works-card h5{
        font-size: 10px;
    }
}