<section id="works-container">
    <div class="works-title">
        <h1>My Recent Works</h1>
        <p>See some of my projects, if you want <a href="#">See more!</a></p>
    </div>
    <div class="works-recently">
        <div class="works-card">
            <h4>Capri Project</h4>
            <h5>Used technology</h5>
            <p>TS, HTML, CSS, Angular</p>
            <a [href]="work1" target="_blank"><img [src]="imagePath1" alt=""></a>
        </div>
        <div class="works-card">
            <h4>Manegament User - CRUD</h4>
            <h5>Used technology</h5>
            <p>JS, HTML, CSS</p>
            <a [href]="work2" target="_blank"><img [src]="imagePath2" alt=""></a>
        </div>
        <div class="works-card">
            <h4>Calculator</h4>
            <h5>Used technology</h5>
            <p>JS, HTML, CSS, Node.js</p>
            <a [href]="work3" target="_blank"><img [src]="imagePath3" alt=""></a>
        </div>
        
    </div>
    <a [href]="linkGithub" target="_blank"><button class="btn btn-primary">See more!</button></a>   
</section>
