#works-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #32CD32;
    height: 80vh;
    margin-bottom: 100px;
    padding: 15px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.works-recently{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}
.works-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:100px;
    color: #21618C;
    font-weight: bold;
   
}
.works-card p{
    color: #4169e1;
    font-weight: bold;    
    margin-bottom: 5px;
}

.works-card img{
    height: 200px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px ) and (max-width: 1024px) {

    .works-recently{
        margin-top: 70px;
    }

}

@media only screen and (min-width: 426px ) and (max-width: 768px) {

    #works-container{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .works-recently{
        margin-top: 70px;
    }

    .works-card img{
        height: 150px;
        width: 250px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px){

    #works-container{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1000px;
    }

    .works-recently{
        margin-top: 300px;
        margin-bottom: 70px;
    }
    .works-card img{
        height: 100px;
        width: 250px;
        border-radius: 15px;
    }
}